:root {
    --bg-body: #131416;
    --color-font: #fff;
    --color-button: #0772EB;
    --color-card: #1E212C;
}
.container {
    max-width: 830px;
    margin: auto;
}
body {
    background-color: var(--bg-body);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.logo h2{
    color: var(--color-font);
}

.logo img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

/* SECTION 1 */
.section_1 {
    display: flex;
    margin-top: 100px;
}
.action_title h2 {
    font-size: 40px;
    color: var(--color-font);
}
.button {
    background-color: var(--color-button);
    display: inline-block;
    padding: 15px 70px;
    border-radius: 50px;
    color: var(--color-font);
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
}
.ebook img {
    width: 230px;
    height: auto;
    margin-right: 50px;
}

/* SECTION 2 */

.section_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 150px;
}
.section_2 h2 {
    color: var(--color-font);
    text-transform: uppercase;
    text-align: center;

}
.cards {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-card);
    width: 220px;
    height: 180px;
    border-radius: 10px;
    color: var(--color-font);
}

.card img {
    width: 65px;
    height: 65px;
}

/* SECTION 3 */

.section_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 50px;
}

.button_2 {
    display: inline-block;
    background-color: var(--color-card);
    color: var(--color-font);
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold; 
}

.section_3 h2 {
    font-size: 48px;
    color: var(--color-button);
    margin-top: 30px;
}

.section_3 p {
    color: var(--color-font);
    margin-top: 10px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-card);
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.button_footer {
    display: inline-block;
    padding: 15px 70px;
    background-color: var(--color-button);
    border-radius: 50px;
    color: var(--color-font);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: -30px;
}

footer p {
    color: var(--color-font);
    margin-top: 30px;
}

/* MOBILE */

@media screen and (max-width: 650px){
    .section_1 {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        padding: 8px;
    }
    .ebook img {
        margin-right: 0;
    }
    .action_title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .action_title h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .cards {
        flex-direction: column;
    }
    .card {
        margin-top: 40px;
    }


    .section_3 {
        margin-top: 150px;
    }
    .section_3 h2 {
        text-align: center;
        font-size: 40px;
    }
    .section_3 p {
        font-size: 12px;
        margin-top: 10px;
    }

}